#nav-bar{
  position:absolute;
  top:0;
  right:0;
  padding-right:20px;
}
ul{
  list-style-type: none;
}
ul li{
  display:inline;
}

.container{
  width:100%;
}
#section1{
  float:left;
  width:50%;
}
#section2{
  float:left;
  width:50%;
}

@media (max-width: 600px){
  #section1{
    width:100%;
  }
  #section2{
    width:100%;
  }
}
